body{
    background-color: #1A1A1D;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-image: url(/images/stars.jpg);
}

nav{
    position: sticky;
    top: 0;

}

nav ul {
    list-style-type: none;
    background-color: #6A1E55; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

nav li {
    display: inline;
}

nav li a {
    margin: 0;
    padding: 18px 20px;
    color: white;
    text-align: center;
    text-decoration: underline;
    background-color: #6A1E55;
    float: right;
    font-weight: bold;
    border-radius: 5px;
}

nav img {
    background-color: #6A1E55;
    padding: 12px 10px;
    margin: 0 10px;
    font-weight: bold;
    float: left;
    color: black;
}

nav li a:hover{
    background-color: #5A639C;
}

section{
    border-radius: 15px;
    padding: 10px;
}

section h2{
    background-color: #1A1A1D;
    padding: 10px;
    margin: 0px;
}

#fold{
    text-align: center;
    margin-top: 20%;
    font-size: 25px;
}

#aboutMe{
    background-color: #1A1A1D;
    border-radius: 5px;
    margin: 20% 0;
}

#aboutMe h2{
    text-align: center;
}

.outerBox{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box{
    justify-content: center;
    width: 49%;
    height: auto;
    text-align: center;
}

#aboutMe img{
    border-radius: 15px;
}

.imgDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imDiv p{
    padding-left: 100px;
}

@media only screen and (max-width: 768px) {
    nav img{
        height: 20px;
        width: 100px;
    }

    nav li a {
        padding: 14px 20px;
    }

    #fold{
        margin-top: 55%;
    }

    #aboutMe{
        margin-top: 50%;
    }

    .outerBox{
        display: inline-block;
        width: 100%;
    }

    .box{
        margin-top: 20px;
        width: 95%;
    }
  }